

.paddingadd {
	padding-top:30px;
	padding-bottom:30px;
}


.footerstyle {
	padding:20px 0px;
	background-color:#001C26;
	color:#fff;
}

/*ADMIN SIDEBAR*/
#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    line-height: 34px;
    /*border-top: 1px solid #717171; /* inner stroke */
    /*border-bottom: 1px solid #5A5A5A; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    list-style-type:none;
}  

#leftMenu .accordion-heading  a{  
    color: #cbcbcb; /* text color */
    text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
    font-weight:bold;
	padding: 0px 15px;
}

#leftMenu .accordion-heading  a:hover{  
    color:#ccc; 
}

#leftMenu .active {
    line-height: 34px;
    /*border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}

#leftMenu .accordion-inner ul {
	list-style:none;
	margin: 0;
}

#leftMenu .accordion-inner ul li a{
	padding: 0px 10px;
	line-height: 30px;
	text-decoration: none;
}


/*Dari CSS Carousel, modifikasi sedikit*/
	#logologo {
	margin:0;
	height:200px;
	margin-top:-10px;
	text-align: center;
	width: 100%;
	}
	
	#logologo li {
	text-align: center;
	padding-bottom: 0 !important;
	position: relative;
	display: inline-block;
	}

	#logologo .logo-outer {
	display: table;
	width: 100%;
	height: 100%;
	}
	
	#logologo .logo-inner {
		display: table-cell;
		vertical-align: middle;
	}
	
	#logologo li img {
		padding-top:20px;
		height:100%;
		-webkit-transition: all .1s linear;
		-moz-transition: all .1s linear;
		-o-transition: all .1s linear;
		-ms-transition: all .1s linear;
		transition: all .1s linear;
	}